---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/ProjectCard.astro";
import HeroSection from "../components/HeroSection.astro";
import ExperinceItem from "../components/ExperinceItem.astro";
import HaveAProject from "../components/HaveAProject.astro";
import Experience from "../components/Experience.astro";
---

<Layout
  title="Porfolio de midudev - Desarrollador y Programador Web con 15 años de experiencia"
  description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
  <main class="">
    <HeroSection />
    <ExperinceItem />
    <Projects />
    <HaveAProject />
  </main>
</Layout>
