---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/ProjectCard.astro";
import HeroSection from "../components/HeroSection.astro";
import ExperinceItem from "../components/ExperinceItem.astro";
import HaveAProject from "../components/HaveAProject.astro";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title=`${i18n.SEO_TITLE}` description=`${i18n.SEO_DESCRIPTION}`>
  <main>
    <HeroSection />
    <Projects />
    <HaveAProject />
  </main>
</Layout>
