---
import { getI18N } from "@/i18n";
import { Socials } from "@constants";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="max-w-2xl md:max-w-5xl">
  <div class="mb-4 justify-center items-center flex">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://porfolio.dev/midudev.webp"
      alt=""
    />
    <a
      href={Socials.linkedin_url}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
    </a>
  </div>
  <h1
    class="text-center text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white mb-2"
  >
    {i18n.HERO_TITLE}
  </h1>
  <p
    set:html={i18n.HERO_DESCRIPTION}
    class="max-w-xl mx-auto items-center justify-center text-center text-pretty"
  />
</div>
